Source: glosung
Maintainer: Eicke Godehardt <eicke@godehardt-online.de>
Section: X11
Priority: extra
Standards-Version: 2.0
#Build-Depends: debhelper, libgtk+2.4-dev, libgnome2-dev, libxml2-dev, scons

Package: glosung
Architecture: any
Depends: debconf, libgtk2.0-0 (>= 2.4), libgnomeui-0 (>= 2.4), libxml2, libcurl
Recommends: glosung-text
Description: Gnome Version of watch words (german: Losung).
 This program shows the watch words (german: Losungen) for each day.
 The `Losungen' are words out of the bible, one from the Old
 and one from the New Testament.

Package: glosung-cs-2006
Architecture: any
Depends: glosung
Provides: glosung-text
Description: czech texts for glosung for year 2006.

Package: glosung-cs-2005
Architecture: any
Depends: glosung
Provides: glosung-text
Description: czech texts for glosung for year 2005.

Package: glosung-de-2006
Architecture: any
Depends: glosung
Provides: glosung-text
Description: german texts for glosung for year 2006.

Package: glosung-de-2005
Architecture: any
Depends: glosung
Provides: glosung-text
Description: german texts for glosung for year 2005.

Package: glosung-en-2006
Architecture: any
Depends: glosung
Provides: glosung-text
Description: english texts for glosung for year 2006.

Package: glosung-en-2005
Architecture: any
Depends: glosung
Provides: glosung-text
Description: english texts for glosung for year 2005.

Package: glosung-es-2006
Architecture: any
Depends: glosung
Provides: glosung-text
Description: spanish texts for glosung for year 2006.

Package: glosung-es-2005
Architecture: any
Depends: glosung
Provides: glosung-text
Description: spanish texts for glosung for year 2005.

Package: glosung-fr-2006
Architecture: any
Depends: glosung
Provides: glosung-text
Description: french texts for glosung for year 2006.

Package: glosung-fr-2005
Architecture: any
Depends: glosung
Provides: glosung-text
Description: french texts for glosung for year 2005.

Package: glosung-zh-2006
Architecture: any
Depends: glosung
Provides: glosung-text
Description: chinese (simplified and traditonial) texts for glosung for year 2006.

Package: glosung-zh-2005
Architecture: any
Depends: glosung
Provides: glosung-text
Description: chinese (simplified and traditonial) texts for glosung for year 2005.
